@charset "utf-8";
:root {
    --winW : 100%;
}

/* ==============================
* header
* ============================== */
#tkg-header-wrap { position:sticky; top:0; left:0; z-index:2000; width:100%; /*min-width:1600px;*/ height:100%;
    .header-top { display:flex; height: 5.5rem; padding: 0 3rem 0 3.2rem; align-items: center;
        h1 { flex:0 0 auto; width:6.58rem; height:2.34rem; font-size:0; background:url('../images/common/logo.png') no-repeat center center / 100%;}
        .header-info { display:flex; margin-left:auto; align-items: center; padding-right: 3rem;
            .user { display: flex; align-items: center; 
                a {line-height: 0;}
                .img {display: inline-block; position: relative; width: 2.4rem; height: 2.4rem; background: #aaa; border-radius: 50%; 
                    &:before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: #fff;
                        font-size: 1.6rem;
                    }
                }
                .name {padding-left: 0.8rem; font-size: 1.2rem; color: #fff; font-weight: 700;}
            }
            .loginfo { margin-left:1rem; font-size:0;
                button { font-size:1.2rem;}
            }
        }
    }
    .header-gnb {
        ul { overflow:auto hidden; display:flex; width:100%; background:var(--point-color);
            li { flex:1 1 auto; min-width:15rem;
                a { display:flex; width:100%; padding:1rem 0; color:#fff; align-items: center; justify-content: center; }

                &:hover {
                    a { background:rgba(255,255,255,0.1)}
                }
            }
        }
    }
    .menu-all {position:relative; width:3rem; height:3rem; margin-right:1rem; font-size:0;
        i { position:absolute; top:50%; left:50%; width:2.2rem; height:.2rem; background:#fff; transform: translate(-50%, -50%); box-shadow:0 -0.5rem 0 #000,0 0.5rem 0 #000;}
    }

    .lnb-sidebar-btn {position:relative; width:6rem; height:6rem; margin-right:0rem; font-size:0;
        i { position:absolute; top:50%; left:50%; width:3.2rem; height:.2rem; background:#fff; transform: translate(-50%, -50%); box-shadow:0 -0.5rem 0 #000,0 0.5rem 0 #000;}
        span {padding-left: 1.2rem; font-size: 1.4rem; font-weight: 500; color: #aaa;}
    }

    .lnb-close & {/*width: 9.6rem;*/height: 1rem;
        .lnb-depth {
            .lnb-link { 
                &:after {display: none;}
                span {display: none;}
            }
            ul {display: none;}
        }
        .lnb-sidebar-btn {
            i:before {transform: translate(-50%, -50%) rotate(180deg);}
            span {display: none;}
        }
    }


   



    

    // .lnb-sidebar-btn { display: flex; position:fixed; top:14rem; left:20rem; width:1.7rem; height:3.5rem; border-radius:0 0.3rem 0.3rem 0; text-align: center; color:#fff; background:#212529; opacity: 0.6; align-items: center; justify-content: center; transition: left .3s ease;
    //     i:before { font-size:1.2rem; transition: all .3s ease;}
    // }

    // .lnb-sidebar-btn { display:none;}

    .lnb-close & { /*left:-20rem;*/
        .lnb-sidebar-btn { /*left:0;*/
            // i:before { transform: rotate(180deg);}
        }
    }
   
}



#tkg-all-wrap { position:sticky; top:0; left:0; z-index:2000; width:100%; /*min-width:1600px;*/ height: 100%; 
   
.tkg-nav { position: relative; overflow-y: hidden; flex:0 0 auto; width:100%; height:4rem; transition: height .3s ease;
    .lnb-wrap {
        .header-top { display:flex; height:4rem; padding: 1.0rem 9rem 0 4.0rem; align-items: center;
            h1 { flex:0 0 auto; width:6.58rem; height:2.34rem; font-size:0; background:url('../images/common/logo.png') no-repeat center center / 100%;}
            .header-info { display:flex; margin-left:auto; align-items: center;
                .user { display: flex; align-items: center;
                    a {line-height: 0;}
                    .img {display: inline-block; position: relative; width: 2.4rem; height: 2.4rem; background: url(../images/common/icon_user.png) no-repeat -1.1rem 0; border-radius: 50%; 
                        &:before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            color: #fff;
                            font-size: 1.6rem;
                        }
                    }
                    .name {padding-left: 0.8rem; font-size: 1.2rem; color: #777; font-weight: 700;}
                }
                .lang-select {display: flex; align-items: center; margin-right:2rem;
                    .img {display: inline-block; position: relative; width: 2.4rem; height: 2.4rem; background: url(../images/common/icon_lang.png) no-repeat  -1.6rem -1.2rem #aaa; border-radius: 50%; 
                        
                        }
                    .img + button {align-items: center;}    
                   
                }
                .lang {right: 18rem;position: absolute;}
                .loginfo { margin-left:1rem; font-size:0;
                    button { font-size:1.2rem;}
                }
                .hiddenbutton {}
            }
        }

        .lnb-depth {
            .lnb-link { display:block; position:relative; padding: 1.2rem 0; font-size: 2.2rem; font-weight: 700; color: #fff; opacity: .5;
                &:after {content: ''; display: block; position: absolute; top: 50%; right: 0; width: 2rem; height: .4rem; background: #fff; transform: translateY(-50%) rotate(0); border-radius: .2rem;  transition: all .3s ease;}
                &.close {
                    &:before {content: ''; display: block; position: absolute; top: 50%; right: 0; width: 2rem; height: .4rem; background: #fff; transform: translateY(-50%); border-radius: .2rem;}
                    &:after {content: ''; display: block; position: absolute; top: 50%; right: 0; width: 2rem; height: .4rem; background: #fff; transform: translateY(-50%) rotate(90deg); border-radius: .2rem; }
                }
            }
            ul {position: relative; 
                &:before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 0px; background: #fff; opacity: .3;}
                &:after {content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 0px; background: #fff; opacity: .3;}
                li {
                    a  { display:block; position: relative; padding: 1.2rem 0rem; font-size: 1.8rem; font-weight: 400; color: #fff; line-height: 1;
                       &:after {content: ''; position: absolute; top: 50%; right: 2.4rem; width: .6rem; height: 1.2rem; transform: translateY(-50%); background: url(../images/common/arr_off.png) no-repeat; background-size: contain;} 
                    }
                    &.active {background: #fff; border-radius: 1.2rem;
                        a { color: #085D70;
                            &:after {background: url(../images/common/arr_on.png) no-repeat; background-size: contain;}
                        } 
                    }
                }
            }
            &.active {
                .lnb-link {
                    opacity: 1;
                }
            }
        }
    }

    .lnb-sidebar-btn {position: fixed; top: 2.0rem; right: 4.2rem; display: flex; align-items: center; 
        i {position: relative; display: inline-block; width: 3.2rem; height: 3.2rem; background: var(--color-eee); border-radius:20rem;
            /* */
            &:before {content: ''; position: absolute; top: 50%; left: 50%;  transform: translate(-50%, -50%)  rotate(180deg); width: 2rem; height: 2rem; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_16_1448)'%3E%3Cpath d='M7 10L12 15L17 10' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_16_1448'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center center / 2.4rem;} 
            
            /*
            &:after{content:''; display:block; position:absolute; top: .1rem; left: .1rem; width:2.8rem; height:2.8rem; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_16_1448)'%3E%3Cpath d='M7 10L12 15L17 10' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_16_1448'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center center / 2.4rem; transition: all .3s ease;}
            &.before { transform: rotate(180deg);}
            */
        }
        span {padding-left: 1.2rem; font-size: 1.4rem; font-weight: 500; color: #aaa;}
    }

    .lnb-close & {/*width: 9.6rem;*/height: 0rem;
        .lnb-depth { 
            .lnb-link {
                &:after {display: none;}
                span {display: none;}
            }
            ul {display: none; }
        }
        .lnb-sidebar-btn {
            i:before {transform: translate(-50%, -50%) rotate(0deg);animation: 1s linear rotate;}
            span {display: none;}
        }
    }



}
 
   
}


/* ==============================
* menu navigation
* ============================== */
#tkg-nav-wrap { display: inline-block; top:0; margin-left:4.4rem; margin-bottom:2.4rem; width:90%; height: 4rem; z-index: 30; 
    .nav-gnb {
        ul { overflow:auto hidden; display:flex; 
            li { flex:0 auto; 
                a { display:flex;  padding:1rem 2rem 0 0; font-size: 2.4rem;font-weight: 600; color:#dddddd; align-items: left; justify-content: left; }
                &:hover {
                    a { background:rgba(255,255,255,0.1); color: red;}
                }
            }
        }
    }
}

// @media screen and (max-width:1024px) {
//     #tkg-header-wrap .menu-all { display:block;}
// }

@media screen and (max-width:800px) {
}


/* ==============================
* left-nav
* ============================== */
//.left-nav { position:fixed; top:9.25rem; left:0; z-index:10; overflow-y: auto; flex:0 0 auto; width:20rem; height:calc(100vh - 9.25rem); background:#f9f9f9; transition: left .3s ease;
.left-nav { position: relative; overflow-y: auto; flex:1 1 auto;  height:100%; padding-bottom: 2.4rem; background: linear-gradient(135deg, #159B97 0%, #05697A 32.81%); border-top-right-radius: 0rem; box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.14); transition: width .3s ease;
    .lnb-wrap {padding: 2rem 3.0rem;
        .lnb-depth {
            .lnb-link { display:block; position:relative; padding: 1.2rem 0; font-size: 2.2rem; font-weight: 700; color: #fff; opacity: .5;
                &:after {content: ''; display: block; position: absolute; top: 50%; right: 0; width: 2rem; height: .4rem; background: #fff; transform: translateY(-50%) rotate(0); border-radius: .2rem;  transition: all .3s ease;}
                &.close {
                    &:before {content: ''; display: block; position: absolute; top: 50%; right: 0; width: 2rem; height: .4rem; background: #fff; transform: translateY(-50%); border-radius: .2rem;}
                    &:after {content: ''; display: block; position: absolute; top: 50%; right: 0; width: 2rem; height: .4rem; background: #fff; transform: translateY(-50%) rotate(90deg); border-radius: .2rem; }
                }
            }
            ul {position: relative; 
                &:before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 0px; background: #fff; opacity: .3;}
                &:after {content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 0px; background: #fff; opacity: .3;}
                li {
                    a  { display:block; position: relative; padding: 1.2rem 0rem; font-size: 1.8rem; font-weight: 400; color: #fff; line-height: 1;
                       &:after {content: ''; position: absolute; top: 50%; right: 2.4rem; width: .6rem; height: 1.2rem; transform: translateY(-50%); background: url(../images/common/arr_off.png) no-repeat; background-size: contain;} 
                    }
                    &.active {background: #fff; border-radius: 1.2rem;
                        a { color: #085D70;
                            &:after {background: url(../images/common/arr_on.png) no-repeat; background-size: contain;}
                        } 
                    }
                }
            }
            &.active {
                .lnb-link {
                    opacity: 1;
                }
            }
        }
    }

    


    .lnb-close & {/*width: 9.6rem;*/width: 1rem; transition: width 0.5s ease 0s;
        .lnb-depth {
            .lnb-link { 
                &:after {display: none;}
                span {display: none;}
            }
            ul {display: none;}
        }
        .lnb-sidebar-btn {
            i:before {transform: translate(-50%, -50%) rotate(180deg);}
            span {display: none;}
        }
    } 

    



    

    // .lnb-sidebar-btn { display: flex; position:fixed; top:14rem; left:20rem; width:1.7rem; height:3.5rem; border-radius:0 0.3rem 0.3rem 0; text-align: center; color:#fff; background:#212529; opacity: 0.6; align-items: center; justify-content: center; transition: left .3s ease;
    //     i:before { font-size:1.2rem; transition: all .3s ease;}
    // }

    // .lnb-sidebar-btn { display:none;}

    .lnb-close & { /*left:-20rem;*/
        .lnb-sidebar-btn { /*left:0;*/
            // i:before { transform: rotate(180deg);}
        }
    }
}


/* ==============================
* left-search
* ============================== */
//.left-nav { position:fixed; top:9.25rem; left:0; z-index:10; overflow-y: auto; flex:0 0 auto; width:20rem; height:calc(100vh - 9.25rem); background:#f9f9f9; transition: left .3s ease;
    .left-search { position: relative; overflow-y: auto; max-width: 30.0rem; flex:1 1 auto;  height:100%; padding-bottom: 2.4rem; background: linear-gradient(135deg, #159B97 0%, #05697A 32.81%); border-top-right-radius: 0rem;/* box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.14);*/ transition: width .3s ease;
        .lnb-wrap {padding: 3.0rem 3.0rem; min-width: 22.0rem;
            .lnb-depth {
                .lnb-link { display:block; position:relative; padding: 1.2rem 0; font-size: 2.2rem; font-weight: 700; color: #fff; opacity: .5;
    
                }
            }
        }  


        
    }
    
    
    // @media screen and (max-width:1024px) {
    //     .lnb-close .left-nav { left:0;}
    //     .left-nav { left:0; box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.2); transform: translateX(calc(-100% - 1.5rem)); transition: all .3s ease;}
    //     .left-nav.open { transform: translateX(0);}
    //     .left-nav .lnb-sidebar-btn { display:none;}
    // }
    
    
    @media screen and (max-width:800px) {
    }
    
    /* ==============================
    * right-nav
    * ============================== */
    //.right-nav { position:fixed; top:9.25rem; right:0; z-index:10; overflow-y: auto; flex:0 0 auto; width:20rem; height:calc(100vh - 9.25rem); background:#f9f9f9; transition: left .3s ease;}
    .right-nav { overflow-y: auto; flex:0 0 auto; width:20rem; height:100%; background:#f9f9f9; transition: left .3s ease;}
    
    
    /* ==============================
    * footer
    * ============================== */
    
    @media screen and (max-width:1440px) {
    }
    
    
    @media screen and (max-width:800px) {
    }


