@charset "utf-8";

:root {
    --point-color : #159B97;
    --point-color-blue : #6bd5dd;

    --color-secondary-01 : #0A7C81;
    --color-secondary-02 : #05697A;
    --color-secondary-03 : #085D70;




    --color-gray-01 : #eeeeee;
    --color-gray-02 : #dddddd;
    --color-gray-03 : #aaaaaa;
    --color-gray-04 : #777777;
    --color-gray-05 : #444444;
    --color-gray-06 : #222222;    

    --color-grid-wrap : #f7f7f7;

    --color-black : #000000;
    --color-white : #ffffff;
    --color-bg : #f8f8f8f8;

    --color-caution : #ff8585;

     /*--guide-title : #0066b3;*/
    --guide-title : #05697A;
}
