@charset "utf-8";
/* ===== 박스 영역 설정 ===== */

/* layerPopup */
.layer-pop-wrap { visibility:hidden; overflow-y:auto; display:flex; justify-content: center; align-items:center; position:fixed; top:0; left:0; width:100%; height:100%; padding:20px 0; z-index:9999; opacity:0; transition:all .2s ease; background:rgba(0,0,0,0.7);
    .layer-pop-cont {display:flex; display:-ms-flex; flex-direction:column; position: relative; width:auto; min-width:96rem; max-width:70rem; padding:0px; margin:auto 0; background:#fff;
        h1 { padding:2rem 4rem; font-size:1.8rem;
            span { margin-left:.5rem; color:#999;}

            &.type2 { padding:2rem 0px; margin:0 4rem; border-bottom:1px solid #111;}
        }
        h1 + .pop-cont { padding-top:0;}

        &.type2 { min-width:inherit; max-width:inherit;}
    }
    .pop-btn-group { display:flex; flex-flow: column; align-items: center;
        .button { min-width:17rem; margin-top:1rem;}
    }
    .pop-cont { padding:4rem;}
    .btn-close { display:block; position:absolute; top:1rem; right:1rem; width:4rem; height:4rem; font-size:0;
        &:before { content:''; display:block; position:absolute; top:50%; left:50%; width:3rem; height:0.3rem; background:#000; transform: translate(-50%, -50%) rotate(45deg);}
        &:after { content:''; display:block; position:absolute; top:50%; left:50%; width:3rem; height:0.3rem; background:#000; transform: translate(-50%, -50%) rotate(-45deg);}
    }

    &.no-dim { background:none;}
    &.main-pop { width:auto; height:auto; justify-content: flex-start; align-items: center;}

    /* 활성화 */
    &.on { visibility:visible; opacity:1;
        .layer-pop-cont{ animation:fadeInDown .4s ease-in-out forwards;}
    }

    /* 풀 팝업 */
    &.full {
        .layer-pop-cont { position:fixed; top:0; left:0; width:100%; max-width: 100%; min-width:100%; height:100%; }

        &.on {
            .layer-pop-cont{ animation:fadeInUp .4s ease-in-out forwards;}
        }
    }
    &.bottom {
        .layer-pop-cont { overflow-y:auto; position:fixed; bottom:0; left:0; width:100%; max-width: 100%; min-width:100%; height:auto; max-height:80vh; transform: translateY(100%); transition-property:transform, opacity; transition:.3s ease;}

        &.on {
            .layer-pop-cont{ transform: translateY(0); animation: none; transition-property:transform, opacity; transition:.3s ease .2s;}
        }
    }


    /* alert-pop */
    &.alert-pop .layer-pop-cont { min-width:auto; width:100%; max-width:42rem; border:0; border-radius:3.2rem; padding:0;
        .cont-box { height:auto; padding:4rem; font-size:1.5rem;
            .tit { font-size:1.8rem; color:#111;}
            .gray-box { margin-top:2rem; padding:2rem; font-size:1.5rem; background:#f8f8f8;}
        }
        .btn-pop-group { overflow:hidden; display:flex; display:-ms-flex; margin:3rem 0 0; justify-content: center;
            .button { display:flex; width:100%; min-width:auto; max-width:12rem;}
            .button + .button { margin-left:1rem;}
        }
    }

    &.loading-wrap { background:rgba(255,255,255,0.8)}

    &.moping-pop { transition:all .4s ease, opacity .3s ease .2s; clip-path:circle(var(--width) at var(--pos-left) var(--pos-top)); background:var(--point-color);
        .layer-pop-cont { animation:none !important; opacity: 0; transition: all .1s ease;}
        &.show { transition:all .6s ease .3s; clip-path:circle(150% at var(--pos-left) var(--pos-top));
            .layer-pop-cont { opacity: 1; transition: all .3s ease .8s;}
        }
    }
}

.popup-dim { position:fixed; top:0; left:0; right:0; bottom:0; z-index:100; background:rgba(0,0,0,0.5);}

/* 토스트 팝업 */
.tost-wrap { position:fixed; bottom:1rem; left:0; right:0; z-index:10; width:100%; padding:0 2rem; margin:0 auto; pointer-events: none;
    .tost-box {display:none; padding:1rem; color:#fff; border-radius:.3rem; background:rgba(0,0,0,0.7); pointer-events: none;
        + .tost-box {margin-top:.2rem;}
    }
}


.morphing-bg { opacity: 0; position:fixed; z-index:50; top:var(--top); left:var(--left); width:var(--width); height:var(--height); background: var(--point-color); border-radius: 50%; pointer-events: none; transition:all .3s ease, opacity .1s ease;
    &.on { opacity: 1; top:0; left:0; width:100%; height:100%; border-radius: 0;}
}