@charset "utf-8";

/* 테이블 */
.table-list {
    table { width:100%; border-top:.1rem solid #b1b4bb;
        th { padding:.5rem; border-bottom:.1rem solid #eeeeee; color:#000; background:#f5f5f5;
            + th { border-left:.1rem solid #eeeeee;}
        }
        td { padding:.5rem; border-bottom:.1rem solid #eeeeee; color:#666666; text-align:center;
            + td { border-left:.1rem solid #eeeeee;}
            &.tl { text-align: left;}
            &.line { border-left:.1rem solid #eeeeee;}
        }
        .button.small { min-width:9rem;}
    }
}

.table-view {
    table { width:100%; border-top:.1rem solid #b1b4bb;
        th { padding:.5rem; border-bottom:.1rem solid #eeeeee; color:#000; background:#f5f5f5;
            + th { border-left:.1rem solid #eeeeee;}
        }
        td { padding:.5rem; border-bottom:.1rem solid #eeeeee; color:#666666; text-align:center;
            + td { border-left:.1rem solid #eeeeee;}
            &.tl { text-align: left;}
        }
        .button.small { min-width:9rem;}
    }
}

/* 페이징 */
.paging { display:flex; justify-content: center;
    a,
    strong { display:inline-flex; width:3rem; height:3rem; margin:0 .4rem; font-size:1.3rem; color:#555; align-items: center; justify-content: center;}
    strong { color:#fff; background:#111;}
    a[class*=btn] { position:relative; margin:0 .4rem; font-size:0; opacity:0.3; border:.1rem solid #111; transition: all .3s ease;
        &:hover { opacity:1;}
        &:before { display: block; position:absolute; top:50%; left:50%; font-family: "fontello"; font-size:1.5rem; transform: translate(-50%, -50%);}
    }
    a.btn-prev:before { content: '\e805'; margin-left:-.1rem;}
    a.btn-next:before { content: '\e806'; margin-left:.1rem;}
}


/* dl 형태 */
.dl-info-box { border-top:.1rem solid #bbb; border-bottom:.1rem solid #eee; --grid-width:10.5rem;
    dl { display:flex;
        + dl { border-top:.1rem solid #eeeeee;}

        &.full { flex-wrap: wrap;
            dt { width:100%;}
            dd { width:100%; padding-left:2rem; padding-right:2rem; border-top:.1rem solid #eee; text-align:left;}
        }

        &.lineT { border-top:.1rem solid #999;}
        dt { display:flex; width:50%; flex:0 0 auto; padding:1.4rem 2rem 1.4rem 2rem; font-size:1.5rem; color:#000; background:#f7f7f7;}
        dt:not(.flexColumn) { align-items: center;}
        dd { flex:1 1 auto; padding:1.4rem 2rem 1.4rem 0rem; font-size:1.5rem; text-align:right; color:#666666; align-self: center; background:#fff;}
    }

    &.grid { display:grid; grid-template-columns:var(--grid-width) 1fr;
        .left { display:flex; grid-row:1 / span 100; background:#f7f7f7; justify-content:center; align-items: center;
            h2 { font-size:1.6rem; font-weight: normal; text-align:center;}
        }
        dl {width:100%; flex-wrap:nowrap;
            dt { width:auto; flex:1 1 auto; border-right:.1rem solid #eeeeee; color:#666; background:none;}
            dd { flex:0 0 auto; width:25%; text-align:right;}
            .bold { color:#262626;}
        }
    }

    &.col4 { display:flex; flex-wrap: wrap; position:relative; border-bottom:0;
        &:before { content:''; display:block; position:absolute; bottom:0; left:0; right:0; height:.1rem; background:#eee;}
        dl { width:50%; border-top:0; border-bottom:.1rem solid #eee;
            &.full { width:100%;
                dt { width:25rem;}
                dd {width:calc(100% - 25rem); border-top:0;}
            }
        }
        dt { flex:0 0 auto; width:25rem; padding-left:2rem}
        dd { width:calc(100% - 25rem); padding-left:2rem;}
    }
}