.tree-wrap {
    > ul {
        ul { display:none;}
        li { position:relative; padding-left:2.1rem;
            &:before { content:''; display:block; position:absolute; top:0; left:.8rem; bottom:0; width:.1rem; background:#ddd;}
            &:after { content:''; display:block; position:absolute; top:1.7rem; left:.8rem; width:1.3rem; height:.1rem; background:#ddd;}

            &:last-child { 
                &:before { bottom:1.5rem;}
            }
            &:first-child:last-child {
                &:before { bottom:auto; height:1.7rem;}
            }
        }
        > li { padding-left:0;
            &:after { display:none;}

            &:first-child {
                &:before { top:1.5rem;}
            }
            &:last-child { 
                &:before { bottom:auto; height:1.5rem;}
            }
        }

    }
    .info { display:flex; align-items: center; padding: .4rem 0;
        .tree-action { display:block; position:relative; width:1.6rem; height:1.6rem; border:1px solid #000; border-radius: .4rem; font-size:0; background:#fff;
            &:before { content:''; display:block; position:absolute; top:50%; left:50%; width:50%; height:.2rem; background:#000; transform: translate(-50%, -50%);}
            &:after { content:''; display:block; position:absolute; top:50%; left:50%; width:50%; height:.2rem; background:#000; transform: translate(-50%, -50%) rotate(90deg); transition: all .3s ease;}

            &.on {
                &:after { transform: translate(-50%, -50%) rotate(0deg);}
            }
        }
        .checkbox { margin-left:.5rem;
            label {
                min-height: 1.6rem; padding-left: 2.4rem; line-height: 1;
                i {width: 1.6rem; height: 1.6rem;}
            }
        }
        a { margin-left:.5rem;}
    }
} 