<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover" /> -->
    <title>TKG</title>
    <link href="../../static/css/ui.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../static/js/common.js"></script>
    <script type="text/javascript" src="../../static/js/ui.js"></script>
    <!--[if lt IE 9]>
      <script type="text/javascript">
        document.createElement('header');
        document.createElement('nav');
        document.createElement('section');
        document.createElement('article');
        document.createElement('footer');
      </script>
    <![endif]-->

    <!-- 가이드 전용 -->
    <link rel="stylesheet" href="../../static/css/a11y-dark.min.css">
    <script src="../../static/js/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <!--
      <pre><code class="language-xml"></code></pre>
    -->
    <!-- //가이드 전용 -->
  </head>
  <body>
    <div id="tkg-wrap">
      <!-- 헤더영역 -->
      <header id="tkg-header-wrap" data-include="../include/header.html"></header>
      <!-- //헤더영역 -->
  
      <!-- 컨텐츠 영역 -->
      <section id="tkg-container">
        <div class="left-nav" data-include="../include/nav.html"></div>
        <div class="tkg-content-body">
          <div class="tkg-content">
            <div class="page-tit">
              <h1>Dialog</h1>
              <div class="ml-a">
                버튼?
              </div>
            </div>
            
            <h2 class="tit-h2 mt-30"><strong class="guide-line">메시지 팝업(Alert)</strong></h2>
            <div class="line-box">
              <p><a href="#pop2" class="pop2 button">팝업타이틀, 내용 메시지</a></p>
              <p class="mt-10"><a href="#pop3" class="pop3 button">내용 메시지</a></p>
            </div>
  
            <script>
              $(document).on('click', '.pop2', function () {
                const $this = $(this);
                let text = '';
                text += '<p class="tit">팝업 타이틀</p>';
                text += '<p class="sub-text">원활한 서비스 제공을 위해 최선을 다하고<br /> 있습니다.  잠시 후 이용해주세요.</p>';
                /*
                  target : id 값
                  alert() : 옵션들
                  buttons : 버튼 수 (최대2개)
                  buttonText : [] 버튼 텍스트
                  buttonClose : 자동 닫는 버튼 위치
                  text : '내용 (html 사용가능)',
                  textAlign : '텍스트 정렬',
                  submit : function(){ 확인 전송 시 (닫기 버튼제외)},
                  close : function(){ 닫기 전송 시 (닫기 버튼제외)}
    
                  btnSubmit 클래스
                  btnPopClose 클래스 적용시에도 동작
                */
    
                ui.alert({
                  text: text,
                  textAlign: 'center',
                  buttons: 2,
                  buttonText: ['취소', '확인'],
                  buttonClose: 1,
                  submit: function () {
                    $this.text('팝업타이틀, 내용 메시지 - 전송했지롱');
                  },
                  close: function () {
                    $this.text('팝업타이틀, 내용 메시지 - 닫았지롱');
                  }
                });
              });
              $(document).on('click', '.pop3', function () {
                const $this = $(this);
                let text = '';
                text += '<p class="sub-text">원활한 서비스 제공을 위해 최선을 다하고<br /> 있습니다.  잠시 후 이용해주세요.</p>';
    
                const target = $(this).attr('href');
    
                ui.alert({
                  target: target,
                  text: text,
                  textAlign: 'center',
                  buttons: 1,
                  buttonText: ['확인'],
                  buttonClose: 1,
                  close: function () {
                    $this.text('내용 메시지 - 닫았지롱');
                  }
                });
              });
            </script>
  
          </div>
        </div>
      </section>
      <!-- //컨텐츠 영역 -->
  
      <!-- 하단 영역 -->
      <footer id="tkg-footer-wrap" data-include="../include/footer.html"></footer>
      <!-- //하단 영역 -->
    </div>
  </body>
</html>
