<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover" /> -->
    <title>TKG</title>
    <link href="../../static/css/ui.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../static/js/common.js"></script>
    <script type="text/javascript" src="../../static/js/ui.js"></script>
    <!--[if lt IE 9]>
      <script type="text/javascript">
        document.createElement('header');
        document.createElement('nav');
        document.createElement('section');
        document.createElement('article');
        document.createElement('footer');
      </script>
    <![endif]-->

    <!-- 가이드 전용 -->
    <link rel="stylesheet" href="../../static/css/a11y-dark.min.css">
    <script src="../../static/js/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <!--
      <pre><code class="language-xml"></code></pre>
    -->
    <!-- //가이드 전용 -->
  </head>
  <body>
    <div id="tkg-wrap">
      <!-- 헤더영역 -->
      <header id="tkg-header-wrap" data-include="../include/header.html"></header>
      <!-- //헤더영역 -->
  
      <!-- 컨텐츠 영역 -->
      <section id="tkg-container">
        <div class="left-nav" data-include="../include/nav.html"></div>
        <div class="tkg-content-body">
          <div class="tkg-content">
            <div class="page-tit">
              <h1>툴팁</h1>
              <div class="ml-a">
                버튼?
              </div>
            </div>

            <h2 class="tit-h2 mt-30"><strong class="guide-line">툴팁</strong></h2>
            <div class="line-box">
              <div class="tooltip-wrap">
                <a href="#none" class="tooltip" role="button">자세한 내용 확인</a>
                <div class="tooltip-pop">
                  <p class="tit">툴팁 타이틀</p>
                  툴팁 내용이 들어감툴팁 내용이 들어감툴팁 내용이 들어감툴팁 내용이 들어감
                  <a href="#" class="btn-close">닫기</a>
                </div>
              </div>
              <div class="t-c">
                <div class="tooltip-wrap">
                  <a href="#none" class="tooltip" role="button">자세한 내용 확인</a>
                  <div class="tooltip-pop">
                    <p class="tit">툴팁 타이틀</p>
                    툴팁 내용이 들어감툴팁 내용이 들어감툴팁 내용이 들어감툴팁 내용이 들어감
                    <a href="#" class="btn-close">닫기</a>
                  </div>
                </div>
              </div>
              <div class="t-r">
                <div class="tooltip-wrap">
                  <a href="#none" class="tooltip" role="button">자세한 내용 확인</a>
                  <div class="tooltip-pop">
                    <p class="tit">툴팁 타이틀</p>
                    툴팁 내용이 들어감툴팁 내용이 들어감툴팁 내용이 들어감툴팁 내용이 들어감
                    <a href="#" class="btn-close">닫기</a>
                  </div>
                </div>
              </div>
            </div>
            <pre><code class="language-xml">
  &lt;div class=&quot;tooltip-wrap&quot;&gt;
    &lt;a href=&quot;#none&quot; class=&quot;tooltip&quot; role=&quot;button&quot;&gt;자세한 내용 확인&lt;/a&gt;
    &lt;div class=&quot;tooltip-pop&quot;&gt;
      &lt;p class=&quot;tit&quot;&gt;툴팁 타이틀&lt;/p&gt;
      툴팁 내용이 들어감툴팁 내용이 들어감툴팁 내용이 들어감툴팁 내용이 들어감
      &lt;a href=&quot;#&quot; class=&quot;btn-close&quot;&gt;닫기&lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
            </code></pre>
  
            <h2 class="tit-h2 mt-30"><strong class="guide-line">툴팁 - 팝업 버전</strong></h2>
            <div class="line-box">
              <div class="tooltip-wrap">
                <a href="#none" class="tooltip" role="button">자세한 내용 확인</a>
                <div class="tooltip-pop popup">
                  <p class="tit">툴팁 타이틀</p>
                  툴팁 내용이 들어감툴팁 내용이 들어감툴팁 내용이 들어감툴팁 내용이 들어감
                  <a href="#" class="btn-close">닫기</a>
                </div>
              </div>
            </div>
            <pre><code class="language-xml">
  &lt;div class=&quot;tooltip-wrap&quot;&gt;
    &lt;a href=&quot;#none&quot; class=&quot;tooltip&quot; role=&quot;button&quot;&gt;자세한 내용 확인&lt;/a&gt;
    &lt;div class=&quot;tooltip-pop popup&quot;&gt;
      &lt;p class=&quot;tit&quot;&gt;툴팁 타이틀&lt;/p&gt;
      툴팁 내용이 들어감툴팁 내용이 들어감툴팁 내용이 들어감툴팁 내용이 들어감
      &lt;a href=&quot;#&quot; class=&quot;btn-close&quot;&gt;닫기&lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
            </code></pre>
  
          </div>
        </div>
      </section>
      <!-- //컨텐츠 영역 -->
      
      <!-- 하단 영역 -->
      <footer id="tkg-footer-wrap" data-include="../include/footer.html"></footer>
      <!-- //하단 영역 -->
    </div>
  </body>
</html>
