<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover" /> -->
    <title>TKG 퍼블리싱 가이드</title>
    <link href="../../static/css/ui.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../static/js/common.js"></script>
    <script type="text/javascript" src="../../static/js/ui.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
      
    <!--[if lt IE 9]>
      <script type="text/javascript">
        document.createElement('header');
        document.createElement('nav');
        document.createElement('section');
        document.createElement('article');
        document.createElement('footer');
      </script>
    <![endif]-->
    <script>
      document.addEventListener("DOMContentLoaded", function(){
        const datepicker = document.querySelectorAll('.flatpickr');
        datepicker.forEach(element => {
          flatpickr(element,{
            wrap: true
          });
        });
      });
    </script>

    <!-- 가이드 전용 -->
    <link rel="stylesheet" href="../../static/css/a11y-dark.min.css">
    <script src="../../static/js/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <!--
      <pre><code class="language-xml"></code></pre>
    -->
    <!-- //가이드 전용 -->
  </head>
  <body>
    <div id="tkg-wrap">
      <!-- 헤더영역 -->
      <header id="tkg-header-wrap" data-include="../include/header.html"></header>
      <!-- //헤더영역 -->
  
      <!-- 컨텐츠 영역 -->
      <section id="tkg-container">
        <div class="left-nav" data-include="../include/nav.html"></div>
        <div class="tkg-content-body">
          <div class="tkg-content">
            <div class="page-tit">
              <h1>Radio & Checkbox</h1>
            </div>
            
            <h2 class="tit-h2 mt-20"><strong class="guide-line">Checkbox</strong></h2>
            <div class="line-box">
              <div class="formBox">
                <div class="checkbox">
                  <input type="checkbox" id="check1" /><label for="check1"><i></i>체크박스</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="check2" checked /><label for="check2"><i></i>체크박스</label>
                </div>
              </div>
              <div class="formBox mt-5">
                <div class="checkbox">
                  <input type="checkbox" id="check3" disabled /><label for="check3"><i></i>체크박스</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="check4" disabled checked /><label for="check4"><i></i>체크박스</label>
                </div>
              </div>
            </div>

            <div class="line-box">
              <div class="flex grap-4">
                <div class="checkbox">
                  <input type="checkbox" id="check1" /><label for="check1"><i></i>체크박스</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="check2" checked /><label for="check2"><i></i>체크박스</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="check3" disabled /><label for="check3"><i></i>체크박스</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="check4" disabled checked /><label for="check4"><i></i>체크박스</label>
                </div>
              </div>
            </div>

            <pre><code class="language-xml">
&lt;div class=&quot;checkbox&quot;&gt;
  &lt;input type=&quot;checkbox&quot; id=&quot;check1&quot; /&gt;&lt;label for=&quot;check1&quot;&gt;&lt;i&gt;&lt;/i&gt;체크박스&lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;checkbox&quot;&gt;
  &lt;input type=&quot;checkbox&quot; id=&quot;check2&quot; checked /&gt;&lt;label for=&quot;check2&quot;&gt;&lt;i&gt;&lt;/i&gt;체크박스&lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;checkbox&quot;&gt;
  &lt;input type=&quot;checkbox&quot; id=&quot;check3&quot; disabled /&gt;&lt;label for=&quot;check3&quot;&gt;&lt;i&gt;&lt;/i&gt;체크박스&lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;checkbox&quot;&gt;
  &lt;input type=&quot;checkbox&quot; id=&quot;check4&quot; disabled checked /&gt;&lt;label for=&quot;check4&quot;&gt;&lt;i&gt;&lt;/i&gt;체크박스&lt;/label&gt;
&lt;/div&gt;
            </code></pre>

            <div class="line-box">
              <p class="mb-5">Dark Mode</p>
              <div style="background: #05697A; padding: 5px;">
                <div class="checkbox dark">
                  <input type="checkbox" id="check11" /><label for="check11"><i></i>체크박스</label>
                </div>
                <div class="checkbox dark">
                  <input type="checkbox" id="check12" checked /><label for="check12"><i></i>체크박스</label>
                </div>
                <div class="checkbox dark">
                  <input type="checkbox" id="check13" disabled /><label for="check13"><i></i>체크박스</label>
                </div>
                <div class="checkbox dark">
                  <input type="checkbox" id="check14" disabled checked /><label for="check14"><i></i>체크박스</label>
                </div>
              </div>              
            </div>
            <pre><code class="language-xml">
&lt;div class=&quot;checkbox dark&quot;&gt;
  &lt;input type=&quot;checkbox&quot; id=&quot;check11&quot; /&gt;&lt;label for=&quot;check11&quot;&gt;&lt;i&gt;&lt;/i&gt;&#52404;&#53356;&#48149;&#49828;&lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;checkbox dark&quot;&gt;
  &lt;input type=&quot;checkbox&quot; id=&quot;check12&quot; checked /&gt;&lt;label for=&quot;check12&quot;&gt;&lt;i&gt;&lt;/i&gt;&#52404;&#53356;&#48149;&#49828;&lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;checkbox dark&quot;&gt;
  &lt;input type=&quot;checkbox&quot; id=&quot;check13&quot; disabled /&gt;&lt;label for=&quot;check13&quot;&gt;&lt;i&gt;&lt;/i&gt;&#52404;&#53356;&#48149;&#49828;&lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;checkbox dark&quot;&gt;
  &lt;input type=&quot;checkbox&quot; id=&quot;check14&quot; disabled checked /&gt;&lt;label for=&quot;check14&quot;&gt;&lt;i&gt;&lt;/i&gt;&#52404;&#53356;&#48149;&#49828;&lt;/label&gt;
&lt;/div&gt;
            </code></pre>

          <h2 class="tit-h2 mt-40"><strong class="guide-line">radio</strong></h2>
          <div class="line-box">
            <div class="formBox">
              <div class="radio">
                <input type="radio" id="radio1" name="radioG" /><label for="radio1"><i></i>라디오박스</label>
              </div>
              <div class="radio">
                <input type="radio" id="radio2" name="radioG" /><label for="radio2"><i></i>라디오박스</label>
              </div>
            </div>
            <div class="formBox mt-5">
              <div class="radio">
                <input type="radio" id="radio3" name="radioG"  /><label for="radio3"><i></i>라디오박스</label>
              </div>
              <div class="radio">
                <input type="radio" id="radio4" name="radioG"   /><label for="radio4"><i></i>라디오박스</label>
              </div>
            </div>
          </div>

          <div class="line-box">
            <div class="flex grap-4">
              <div class="radio">
                <input type="radio" id="radio5" name="radioG"/><label for="radio5"><i></i>라디오박스</label>
              </div>
              <div class="radio">
                <input type="radio" id="radio6" name="radioG" checked /><label for="radio6"><i></i>라디오박스</label>
              </div>
              <div class="radio">
                <input type="radio" id="radio7" name="radioG" disabled /><label for="radio7"><i></i>라디오박스</label>
              </div>
              <div class="radio">
                <input type="radio" id="radio8" name="radio" disabled checked /><label for="radio8"><i></i>라디오박스</label>
              </div>
             </div>
          </div>
          
          <pre><code class="language-xml">
  &lt;div class=&quot;radio&quot;&gt;
    &lt;input type=&quot;radio&quot; id=&quot;radio1&quot; name=&quot;radioG1&quot; /&gt;&lt;label for=&quot;radio1&quot;&gt;&lt;i&gt;&lt;/i&gt;라디오박스&lt;/label&gt;
  &lt;/div&gt;
  &lt;div class=&quot;radio&quot;&gt;
    &lt;input type=&quot;radio&quot; id=&quot;radio2&quot; name=&quot;radioG1&quot; checked /&gt;&lt;label for=&quot;radio2&quot;&gt;&lt;i&gt;&lt;/i&gt;라디오박스&lt;/label&gt;
  &lt;/div&gt;
  
  &lt;div class=&quot;radio&quot;&gt;
    &lt;input type=&quot;radio&quot; id=&quot;radio3&quot; name=&quot;radioG2&quot; disabled /&gt;&lt;label for=&quot;radio3&quot;&gt;&lt;i&gt;&lt;/i&gt;라디오박스&lt;/label&gt;
  &lt;/div&gt;
  &lt;div class=&quot;radio&quot;&gt;
    &lt;input type=&quot;radio&quot; id=&quot;radio4&quot; name=&quot;radioG2&quot; disabled checked /&gt;&lt;label for=&quot;radio4&quot;&gt;&lt;i&gt;&lt;/i&gt;라디오박스&lt;/label&gt;
  &lt;/div&gt;
            </code></pre>
            
            <div class="line-box">
              <p class="mb-5">Dark Mode</p>
              <div style="background: #05697A; padding: 5px;">
                <div class="radio dark">
                  <input type="radio" id="radio51" name="radioG1"/><label for="radio51"><i></i>라디오박스</label>
                </div>
                <div class="radio dark">
                  <input type="radio" id="radio52" name="radioG1" checked /><label for="radio52"><i></i>라디오박스</label>
                </div>
                <div class="radio dark">
                  <input type="radio" id="radio53" name="radioG1" disabled/><label for="radio53"><i></i>라디오박스</label>
                </div>
                <div class="radio dark">
                  <input type="radio" id="radio54" name="radioG1" disabled checked/><label for="radio54"><i></i>라디오박스</label>
                </div>
              </div>              
            </div>

          </div>
        </div>        
      </section>
      <!-- //컨텐츠 영역 -->
      
      <!-- 하단 영역 -->
      <footer id="tkg-footer-wrap" data-include="../include/footer.html"></footer>
      <!-- //하단 영역 -->
    </div>
  </body>
</html>
 