<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover" /> -->
    <title>TKG 퍼블리싱 가이드</title>
    <link href="../../static/css/ui.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../static/js/common.js"></script>
    <script type="text/javascript" src="../../static/js/ui.js"></script>
    <!--[if lt IE 9]>
      <script type="text/javascript">
        document.createElement('header');
        document.createElement('nav');
        document.createElement('section');
        document.createElement('article');
        document.createElement('footer');
      </script>
    <![endif]-->

    <!-- 가이드 전용 -->
    <link rel="stylesheet" href="../../static/css/a11y-dark.min.css">
    <script src="../../static/js/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <!--
      <pre><code class="language-xml"></code></pre>
    -->
    <!-- //가이드 전용 -->
  </head>
  <body>
    <div id="tkg-wrap">
      <!-- 헤더영역 -->
      <header id="tkg-header-wrap" data-include="../include/header.html"></header>
      <!-- //헤더영역 -->
  
      <!-- 컨텐츠 영역 -->
      <section id="tkg-container">
        <div class="left-nav" data-include="../include/nav.html"></div>
        <div class="tkg-content-body">
          <div class="tkg-content">
            <div class="page-tit">
              <h1>테이블</h1>
            </div>
  
            <h2 class="tit-h2"><strong class="guide-line">Type별 테이블</strong></h2> 
            <div class="">
              <div class="line-box">
                <div class="tblHeader">
                  <h2 class="defTit">테이블 타이틀</h2>
                  
                </div>
                <div class="table-list">
                  <table>
                    <colgroup>
                      <col />
                      <col />
                      <col />
                      <col />
                    </colgroup>
                    <thead>
                      <tr>
                        <th scope="col">제목</th>
                        <th scope="col">제목</th>
                        <th scope="col">제목</th>
                        <th scope="col">제목</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Theme</td>
                        <td class="tl">내용</td>
                        <td>내용</td>
                        <td class="fcPoint">내용</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="tblHeader mt-40">
                  <h2 class="defTit">테이블 타이틀</h2>                  
                </div>
                <div class="table-list">
                  <table cellpadding="0" cellspacing="0">
                    <caption>테이블 타이틀 정보 입력</caption>
                    <colgroup>
                      <col style="width:33%">
                      <col style="">
                    </colgroup>
                    <tbody>
                      <tr>
                        <th scope="row" class="al">제목</th>
                        <td>내용</td>
                      </tr>
                      <tr>
                        <th scope="row" class="al">제목</th>
                        <td>내용</td>
                      </tr>
                      <tr>
                        <th scope="row" class="al">제목</th>
                        <td>내용</td>
                      </tr>
                    </tbody>
                  </table>
                </div>


                <div class="tblHeader mt-40">
                  <h2 class="defTit">테이블 타이틀</h2>
                  
                </div>
                <div class="table-list">
                  <table cellpadding="0" cellspacing="0">
                    <caption>테이블 타이틀 정보 입력</caption>
                    <colgroup>
                      <col style="width:33%">
                      <col style="">
                    </colgroup>
                    <tbody>
                      <tr>
                        <th scope="row" class="t-l">제목</th>
                        <td class="t-l">내용</td>
                      </tr>
                      <tr>
                        <th scope="row" class="t-l">제목</th>
                        <td>내용</td>
                      </tr>
                      <tr>
                        <th scope="row" class="t-l">제목</th>
                        <td class="t-r">내용</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
            <pre><code class="language-xml">
  &lt;div class=&quot;table-list&quot;&gt;
    &lt;table&gt;
      &lt;colgroup&gt;
        &lt;col /&gt;
        &lt;col /&gt;
        &lt;col /&gt;
        &lt;col /&gt;
      &lt;/colgroup&gt;
      &lt;thead&gt;
        &lt;tr&gt;
          &lt;th scope=&quot;col&quot;&gt;구분&lt;/th&gt;
          &lt;th scope=&quot;col&quot;&gt;내용&lt;/th&gt;
          &lt;th scope=&quot;col&quot;&gt;전시기간&lt;/th&gt;
          &lt;th scope=&quot;col&quot;&gt;상태&lt;/th&gt;
        &lt;/tr&gt;
      &lt;/thead&gt;
      &lt;tbody&gt;
        &lt;tr&gt;
          &lt;td&gt;Theme&lt;/td&gt;
          &lt;td class=&quot;tl&quot;&gt;Insider Trends @kmall24&lt;/td&gt;
          &lt;td&gt;2021.10.01 ~ 2021.10.31&lt;/td&gt;
          &lt;td class=&quot;fcPoint&quot;&gt;진행중&lt;/td&gt;
        &lt;/tr&gt;
      &lt;/tbody&gt;
    &lt;/table&gt;
  &lt;/div&gt;
            </code></pre>
  
            <h2 class="tit-h2 mt-40"><strong class="guide-line">Type 가로</strong></h2> 
            <div class="">
              <div class="line-box">

                <div class="tblHeader">
                  <h2 class="defTit">테이블 타이틀</h2>                  
                </div>
                <div class="table-view">
                  <table>
                    <colgroup>
                      <col />
                      <col />
                      <col />
                      <col />
                    </colgroup>
                    <tbody>
                      <tr>
                        <th scope="row">상세</th>
                        <td class="tl">상세
                        </td>
                        <th scope="row">상세</th>
                        <td>상세</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <pre><code class="language-xml">
  &lt;div class=&quot;table-view&quot;&gt;
    &lt;table&gt;
      &lt;colgroup&gt;
        &lt;col /&gt;
        &lt;col /&gt;
        &lt;col /&gt;
        &lt;col /&gt;
      &lt;/colgroup&gt;
      &lt;tbody&gt;
        &lt;tr&gt;
          &lt;th scope=&quot;row&quot;&gt;상세&lt;/th&gt;
          &lt;td class=&quot;tl&quot;&gt;
            &lt;div class=&quot;form-box&quot;&gt;
              &lt;div class=&quot;input-box&quot;&gt;&lt;input type=&quot;text&quot; value=&quot;기본&quot; /&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/td&gt;
          &lt;th scope=&quot;row&quot;&gt;상세&lt;/th&gt;
          &lt;td class=&quot;fc-point&quot;&gt;진행중&lt;/td&gt;
        &lt;/tr&gt;
      &lt;/tbody&gt;
    &lt;/table&gt;
  &lt;/div&gt;
            </code></pre>
  
            <h2 class="tit-h2 mt-30"><strong class="guide-line">dl 형태 grid 테이블</strong></h2>  
            <div class="">
              <div class="line-box">
                <div class="tblHeader">
                  <h2 class="defTit">테이블 타이틀</h2>
                  
                </div>
                <div class="dl-info-box grid">
                  <div class="left">
                    <h2>제목</h2>
                  </div>
                  <dl>
                    <dt>제목</dt>
                    <dd>내용</dd>
                  </dl>
                  <dl>
                    <dt>제목</dt>
                    <dd>내용</dd>
                  </dl>
                  <dl>
                    <dt>제목</dt>
                    <dd>내용</dd>
                  </dl>
                  <dl>
                    <dt><strong class="fc262626">제목</strong></dt>
                    <dd><strong class="fc262626">내용</strong></dd>
                  </dl>
                  <dl class="sum">
                    <dt>제목</dt>
                    <dd>내용</dd>
                  </dl>
                </div>
              </div>
            </div>
            <pre><code class="language-xml">
&lt;div class=&quot;dl-info-box grid&quot;&gt;
&lt;div class=&quot;left&quot;&gt;
  &lt;h2&gt;&#51228;&#47785;&lt;/h2&gt;
&lt;/div&gt;
&lt;dl&gt;
  &lt;dt&gt;&#51228;&#47785;&lt;/dt&gt;
  &lt;dd&gt;&#45236;&#50857;&lt;/dd&gt;
&lt;/dl&gt;
&lt;dl&gt;
  &lt;dt&gt;&#51228;&#47785;&lt;/dt&gt;
  &lt;dd&gt;&#45236;&#50857;&lt;/dd&gt;
&lt;/dl&gt;
&lt;dl&gt;
  &lt;dt&gt;&#51228;&#47785;&lt;/dt&gt;
  &lt;dd&gt;&#45236;&#50857;&lt;/dd&gt;
&lt;/dl&gt;
&lt;dl&gt;
  &lt;dt&gt;&lt;strong class=&quot;fc262626&quot;&gt;&#51228;&#47785;&lt;/strong&gt;&lt;/dt&gt;
  &lt;dd&gt;&lt;strong class=&quot;fc262626&quot;&gt;&#45236;&#50857;&lt;/strong&gt;&lt;/dd&gt;
&lt;/dl&gt;
&lt;dl class=&quot;sum&quot;&gt;
  &lt;dt&gt;&#51228;&#47785;&lt;/dt&gt;
  &lt;dd&gt;&#45236;&#50857;&lt;/dd&gt;
&lt;/dl&gt;
&lt;/div&gt;
            </code></pre>
  
            <h2 class="tit-h2 mt-30"><strong class="guide-line">페이징</strong></h2>
            <div class="">
              <div class="line-box">
                <div class="paging">
                  <a href="#" class="btn-first">처음으로</a>
                  <a href="#" class="btn-prev">이전</a>
                  <strong>1</strong>
                  <a href="#">2</a>
                  <a href="#">3</a>
                  <a href="#">4</a>
                  <a href="#">5</a>
                  <a href="#" class="btn-next">다음</a>
                  <a href="#" class="btn-last">맨마지막으로</a>
                </div>
              </div>
            </div>
            <pre><code class="language-xml">
&lt;div class=&quot;paging&quot;&gt;
  &lt;a href=&quot;#&quot; class=&quot;btn-first&quot;&gt;&#52376;&#51020;&#51004;&#47196;&lt;/a&gt;
  &lt;a href=&quot;#&quot; class=&quot;btn-prev&quot;&gt;&#51060;&#51204;&lt;/a&gt;
  &lt;strong&gt;1&lt;/strong&gt;
  &lt;a href=&quot;#&quot;&gt;2&lt;/a&gt;
  &lt;a href=&quot;#&quot;&gt;3&lt;/a&gt;
  &lt;a href=&quot;#&quot;&gt;4&lt;/a&gt;
  &lt;a href=&quot;#&quot;&gt;5&lt;/a&gt;
  &lt;a href=&quot;#&quot; class=&quot;btn-next&quot;&gt;&#45796;&#51020;&lt;/a&gt;
  &lt;a href=&quot;#&quot; class=&quot;btn-last&quot;&gt;&#47592;&#47560;&#51648;&#47561;&#51004;&#47196;&lt;/a&gt;
 &lt;/div&gt;
            </code></pre>
  
          </div>
        </div>
      </section>
      <!-- //컨텐츠 영역 -->
  
      <!-- 하단 영역 -->
      <footer id="tkg-footer-wrap" data-include="../include/footer.html"></footer>
      <!-- //하단 영역 -->
    </div>
  </body>
</html>
