<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover" /> -->
    <title>TKG 퍼블리싱 가이드</title>
    <link href="../../static/css/ui.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../static/js/common.js"></script>
    <script type="text/javascript" src="../../static/js/ui.js"></script>
    <!--[if lt IE 9]>
      <script type="text/javascript">
        document.createElement('header');
        document.createElement('nav');
        document.createElement('section');
        document.createElement('article');
        document.createElement('footer');
      </script>
    <![endif]-->

    <!-- 가이드 전용 -->
    <link rel="stylesheet" href="../../static/css/a11y-dark.min.css">
    <script src="../../static/js/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <!--
      <pre><code class="language-xml"></code></pre>
    -->
    <!-- //가이드 전용 -->
  </head>
  <body>
    <div id="tkg-wrap">
      <!-- 헤더영역 -->
      <header id="tkg-header-wrap" data-include="../include/header.html"></header>
      <!-- //헤더영역 -->
  
      <!-- 컨텐츠 영역 -->
      <section id="tkg-container" class="right-box">
        <div class="left-nav" data-include="../include/nav.html"></div>
        <div class="tkg-content-body">
          <div class="tkg-content">
            <div class="page-tit">
              <h1>Tree View</h1>
            </div>
  
            <h2 class="tit-h2"><strong class="guide-line">트리 기본 구조(단순)</strong></h2>
            <div class="Gbox">
              <div class="line-box-in">
                <div class="tree-wrap">
                  <ul class="depth1">
                    <li>
                      <div class="info">
                        <button class="tree-action">열림/닫기</button>
                        <a class="link" href="#">텍스트1 - 링크</a>
                      </div>
                      <ul class="depth2">
                        <li>
                          <div class="info">
                            <button class="tree-action">열림/닫기</button>
                            <a class="link"  href="#">텍스트1-1 - 링크</a>
                          </div>
      
                          <ul class="depth3">
                            <li>
                              <div class="info">
                                <a class="link"  href="#">텍스트1-1-1 - 링크</a>
                              </div>
                            </li>
                            <li>
                              <div class="info">
                                <a class="link"  href="#">텍스트1-1-2 - 링크</a>
                              </div>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <div class="info">
                            <a class="link"  href="#">텍스트1-2 - 링크</a>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <div class="info">
                        <button class="tree-action">열림/닫기</button>
                        <a  class="link"  href="#">텍스트2 - 링크</a>
                      </div>
                      <ul class="depth2">
                        <li>
                          <div class="info">
                            <button class="tree-action">열림/닫기</button>
                            <a  class="link"  href="#">텍스트2-1 - 링크</a>
                          </div>
      
                          <ul class="depth3">
                            <li>
                              <div class="info">
                                <a class="link" href="#">텍스트2-1-1 - 링크</a>
                              </div>
                            </li>
                            <li>
                              <div class="info">
                                <a  class="link"  href="#">텍스트2-1-2 - 링크</a>
                              </div>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            
            <h2 class="tit-h2"><strong class="guide-line">트리 + 체크박스 Multi </strong></h2>
            <div class="Gbox">
              <div class="line-box-in">
                <div class="tree-wrap">
                  <ul class="depth1">
                    <li>
                      <div class="info">
                        <button class="tree-action">열림/닫기</button>
                        <div class="checkbox">
                          <input type="checkbox" id="check1" /><label for="check1"><i></i>체크박스</label>
                        </div>
                        <a href="#">텍스트1 - 링크</a>
                      </div>
                      <ul class="depth2">
                        <li>
                          <div class="info">
                            <button class="tree-action">열림/닫기</button>
                            <div class="checkbox">
                              <input type="checkbox" id="check1-1" /><label for="check1-1"><i></i>체크박스</label>
                            </div>
                            <a href="#">텍스트1-1 - 링크</a>
                          </div>
      
                          <ul class="depth3">
                            <li>
                              <div class="info">
                                <div class="checkbox">
                                  <input type="checkbox" id="check1-1-1" /><label for="check1-1-1"><i></i>체크박스</label>
                                </div>
                                <a href="#">텍스트1-1-1 - 링크</a>
                              </div>
                            </li>
                            <li>
                              <div class="info">
                                <a href="#">텍스트1-1-2 - 링크</a>
                              </div>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <div class="info">
                            <div class="checkbox">
                              <input type="checkbox" id="check1-2" /><label for="check1-2"><i></i>체크박스</label>
                            </div>
                            <a href="#">텍스트1-2 - 링크</a>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <div class="info">
                        <button class="tree-action">열림/닫기</button>
                        <div class="checkbox">
                          <input type="checkbox" id="check2" /><label for="check2"><i></i>체크박스</label>
                        </div>
                        <a href="#">텍스트2 - 링크</a>
                      </div>
                      <ul class="depth2">
                        <li>
                          <div class="info">
                            <button class="tree-action">열림/닫기</button>
                            <a href="#">텍스트2-1 - 링크</a>
                          </div>
      
                          <ul class="depth3">
                            <li>
                              <div class="info">
                                <div class="checkbox">
                                  <input type="checkbox" id="check2-1-1" /><label for="check2-1-1"><i></i>체크박스</label>
                                </div>
                                <a href="#">텍스트2-1-1 - 링크</a>
                              </div>
                            </li>
                            <li>
                              <div class="info">
                                <a href="#">텍스트2-1-2 - 링크</a>
                              </div>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="right-nav">오른쪽 영역</div> -->
      </section>
      <!-- //컨텐츠 영역 -->
  
      <!-- 하단 영역 -->
      <footer id="tkg-footer-wrap" data-include="../include/footer.html"></footer>
      <!-- //하단 영역 -->
    </div>
  </body>
</html>
