:root {
  --winW: 100%;
}

/* ==============================
* header
* ============================== */
#tkg-header-wrap {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%; /*min-width:1600px;*/
  height: 100%;
}
#tkg-header-wrap .header-top {
  display: flex;
  height: 5.5rem;
  padding: 0 3rem 0 3.2rem;
  align-items: center;
}
#tkg-header-wrap .header-top h1 {
  flex: 0 0 auto;
  width: 6.58rem;
  height: 2.34rem;
  font-size: 0;
  background: url("../images/common/logo.png") no-repeat center center/100%;
}
#tkg-header-wrap .header-top .header-info {
  display: flex;
  margin-left: auto;
  align-items: center;
  padding-right: 3rem;
}
#tkg-header-wrap .header-top .header-info .user {
  display: flex;
  align-items: center;
}
#tkg-header-wrap .header-top .header-info .user a {
  line-height: 0;
}
#tkg-header-wrap .header-top .header-info .user .img {
  display: inline-block;
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
  background: #aaa;
  border-radius: 50%;
}
#tkg-header-wrap .header-top .header-info .user .img:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.6rem;
}
#tkg-header-wrap .header-top .header-info .user .name {
  padding-left: 0.8rem;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 700;
}
#tkg-header-wrap .header-top .header-info .loginfo {
  margin-left: 1rem;
  font-size: 0;
}
#tkg-header-wrap .header-top .header-info .loginfo button {
  font-size: 1.2rem;
}
#tkg-header-wrap .header-gnb ul {
  overflow: auto hidden;
  display: flex;
  width: 100%;
  background: var(--point-color);
}
#tkg-header-wrap .header-gnb ul li {
  flex: 1 1 auto;
  min-width: 15rem;
}
#tkg-header-wrap .header-gnb ul li a {
  display: flex;
  width: 100%;
  padding: 1rem 0;
  color: #fff;
  align-items: center;
  justify-content: center;
}
#tkg-header-wrap .header-gnb ul li:hover a {
  background: rgba(255, 255, 255, 0.1);
}
#tkg-header-wrap .menu-all {
  position: relative;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  font-size: 0;
}
#tkg-header-wrap .menu-all i {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.2rem;
  height: 0.2rem;
  background: #fff;
  transform: translate(-50%, -50%);
  box-shadow: 0 -0.5rem 0 #000, 0 0.5rem 0 #000;
}
#tkg-header-wrap .lnb-sidebar-btn {
  position: relative;
  width: 6rem;
  height: 6rem;
  margin-right: 0rem;
  font-size: 0;
}
#tkg-header-wrap .lnb-sidebar-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3.2rem;
  height: 0.2rem;
  background: #fff;
  transform: translate(-50%, -50%);
  box-shadow: 0 -0.5rem 0 #000, 0 0.5rem 0 #000;
}
#tkg-header-wrap .lnb-sidebar-btn span {
  padding-left: 1.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #aaa;
}
.lnb-close #tkg-header-wrap { /*width: 9.6rem;*/
  height: 1rem;
}
.lnb-close #tkg-header-wrap .lnb-depth .lnb-link:after {
  display: none;
}
.lnb-close #tkg-header-wrap .lnb-depth .lnb-link span {
  display: none;
}
.lnb-close #tkg-header-wrap .lnb-depth ul {
  display: none;
}
.lnb-close #tkg-header-wrap .lnb-sidebar-btn i:before {
  transform: translate(-50%, -50%) rotate(180deg);
}
.lnb-close #tkg-header-wrap .lnb-sidebar-btn span {
  display: none;
}
.lnb-close #tkg-header-wrap { /*left:-20rem;*/ }
.lnb-close #tkg-header-wrap .lnb-sidebar-btn { /*left:0;*/ }

#tkg-all-wrap {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%; /*min-width:1600px;*/
  height: 100%;
}
#tkg-all-wrap .tkg-nav {
  position: relative;
  overflow-y: hidden;
  flex: 0 0 auto;
  width: 100%;
  height: 4rem;
  transition: height 0.3s ease;
}
#tkg-all-wrap .tkg-nav .lnb-wrap .header-top {
  display: flex;
  height: 4rem;
  padding: 1rem 9rem 0 4rem;
  align-items: center;
}
#tkg-all-wrap .tkg-nav .lnb-wrap .header-top h1 {
  flex: 0 0 auto;
  width: 6.58rem;
  height: 2.34rem;
  font-size: 0;
  background: url("../images/common/logo.png") no-repeat center center/100%;
}
#tkg-all-wrap .tkg-nav .lnb-wrap .header-top .header-info {
  display: flex;
  margin-left: auto;
  align-items: center;
}
#tkg-all-wrap .tkg-nav .lnb-wrap .header-top .header-info .user {
  display: flex;
  align-items: center;
}
#tkg-all-wrap .tkg-nav .lnb-wrap .header-top .header-info .user a {
  line-height: 0;
}
#tkg-all-wrap .tkg-nav .lnb-wrap .header-top .header-info .user .img {
  display: inline-block;
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
  background: url(../images/common/icon_user.png) no-repeat -1.1rem 0;
  border-radius: 50%;
}
#tkg-all-wrap .tkg-nav .lnb-wrap .header-top .header-info .user .img:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.6rem;
}
#tkg-all-wrap .tkg-nav .lnb-wrap .header-top .header-info .user .name {
  padding-left: 0.8rem;
  font-size: 1.2rem;
  color: #777;
  font-weight: 700;
}
#tkg-all-wrap .tkg-nav .lnb-wrap .header-top .header-info .lang-select {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
#tkg-all-wrap .tkg-nav .lnb-wrap .header-top .header-info .lang-select .img {
  display: inline-block;
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
  background: url(../images/common/icon_lang.png) no-repeat -1.6rem -1.2rem #aaa;
  border-radius: 50%;
}
#tkg-all-wrap .tkg-nav .lnb-wrap .header-top .header-info .lang-select .img + button {
  align-items: center;
}
#tkg-all-wrap .tkg-nav .lnb-wrap .header-top .header-info .loginfo {
  margin-left: 1rem;
  font-size: 0;
}
#tkg-all-wrap .tkg-nav .lnb-wrap .header-top .header-info .loginfo button {
  font-size: 1.2rem;
}
#tkg-all-wrap .tkg-nav .lnb-wrap .lnb-depth .lnb-link {
  display: block;
  position: relative;
  padding: 1.2rem 0;
  font-size: 2.2rem;
  font-weight: 700;
  color: #fff;
  opacity: 0.5;
}
#tkg-all-wrap .tkg-nav .lnb-wrap .lnb-depth .lnb-link:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 2rem;
  height: 0.4rem;
  background: #fff;
  transform: translateY(-50%) rotate(0);
  border-radius: 0.2rem;
  transition: all 0.3s ease;
}
#tkg-all-wrap .tkg-nav .lnb-wrap .lnb-depth .lnb-link.close:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 2rem;
  height: 0.4rem;
  background: #fff;
  transform: translateY(-50%);
  border-radius: 0.2rem;
}
#tkg-all-wrap .tkg-nav .lnb-wrap .lnb-depth .lnb-link.close:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 2rem;
  height: 0.4rem;
  background: #fff;
  transform: translateY(-50%) rotate(90deg);
  border-radius: 0.2rem;
}
#tkg-all-wrap .tkg-nav .lnb-wrap .lnb-depth ul {
  position: relative;
}
#tkg-all-wrap .tkg-nav .lnb-wrap .lnb-depth ul:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  background: #fff;
  opacity: 0.3;
}
#tkg-all-wrap .tkg-nav .lnb-wrap .lnb-depth ul:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0px;
  background: #fff;
  opacity: 0.3;
}
#tkg-all-wrap .tkg-nav .lnb-wrap .lnb-depth ul li a {
  display: block;
  position: relative;
  padding: 1.2rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  line-height: 1;
}
#tkg-all-wrap .tkg-nav .lnb-wrap .lnb-depth ul li a:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 2.4rem;
  width: 0.6rem;
  height: 1.2rem;
  transform: translateY(-50%);
  background: url(../images/common/arr_off.png) no-repeat;
  background-size: contain;
}
#tkg-all-wrap .tkg-nav .lnb-wrap .lnb-depth ul li.active {
  background: #fff;
  border-radius: 1.2rem;
}
#tkg-all-wrap .tkg-nav .lnb-wrap .lnb-depth ul li.active a {
  color: #085D70;
}
#tkg-all-wrap .tkg-nav .lnb-wrap .lnb-depth ul li.active a:after {
  background: url(../images/common/arr_on.png) no-repeat;
  background-size: contain;
}
#tkg-all-wrap .tkg-nav .lnb-wrap .lnb-depth.active .lnb-link {
  opacity: 1;
}
#tkg-all-wrap .tkg-nav .lnb-sidebar-btn {
  position: fixed;
  top: 2rem;
  right: 4.2rem;
  display: flex;
  align-items: center;
}
#tkg-all-wrap .tkg-nav .lnb-sidebar-btn i {
  position: relative;
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  background: #dddddd;
  border-radius: 20rem;
}
#tkg-all-wrap .tkg-nav .lnb-sidebar-btn i:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  background: url(../images/common/icon_gnb.png) no-repeat center center;
}
#tkg-all-wrap .tkg-nav .lnb-sidebar-btn span {
  padding-left: 1.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #aaa;
}
.lnb-close #tkg-all-wrap .tkg-nav { /*width: 9.6rem;*/
  height: 0rem;
}
.lnb-close #tkg-all-wrap .tkg-nav .lnb-depth .lnb-link:after {
  display: none;
}
.lnb-close #tkg-all-wrap .tkg-nav .lnb-depth .lnb-link span {
  display: none;
}
.lnb-close #tkg-all-wrap .tkg-nav .lnb-depth ul {
  display: none;
}
.lnb-close #tkg-all-wrap .tkg-nav .lnb-sidebar-btn i:before {
  transform: translate(-50%, -50%) rotate(180deg);
}
.lnb-close #tkg-all-wrap .tkg-nav .lnb-sidebar-btn span {
  display: none;
}

/* ==============================
* menu navigation
* ============================== */
#tkg-nav-wrap {
  display: inline-block;
  top: 0;
  margin-left: 4.4rem;
  margin-bottom: 2.4rem;
  width: 90%;
  height: 4rem;
  z-index: 30;
}
#tkg-nav-wrap .nav-gnb ul {
  overflow: auto hidden;
  display: flex;
}
#tkg-nav-wrap .nav-gnb ul li {
  flex: 0 auto;
}
#tkg-nav-wrap .nav-gnb ul li a {
  display: flex;
  padding: 1rem 2rem 0 0;
  font-size: 2.4rem;
  font-weight: 600;
  color: #dddddd;
  align-items: left;
  justify-content: left;
}
#tkg-nav-wrap .nav-gnb ul li:hover a {
  background: rgba(255, 255, 255, 0.1);
  color: red;
}

/* ==============================
* left-nav
* ============================== */
.left-nav {
  position: relative;
  overflow-y: auto;
  flex: 1 1 auto;
  height: 100%;
  padding-bottom: 2.4rem;
  background: linear-gradient(135deg, #159B97 0%, #05697A 32.81%);
  border-top-right-radius: 0rem;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.14);
  transition: width 0.3s ease;
}
.left-nav .lnb-wrap {
  padding: 2rem 3rem;
}
.left-nav .lnb-wrap .lnb-depth .lnb-link {
  display: block;
  position: relative;
  padding: 1.2rem 0;
  font-size: 2.2rem;
  font-weight: 700;
  color: #fff;
  opacity: 0.5;
}
.left-nav .lnb-wrap .lnb-depth .lnb-link:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 2rem;
  height: 0.4rem;
  background: #fff;
  transform: translateY(-50%) rotate(0);
  border-radius: 0.2rem;
  transition: all 0.3s ease;
}
.left-nav .lnb-wrap .lnb-depth .lnb-link.close:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 2rem;
  height: 0.4rem;
  background: #fff;
  transform: translateY(-50%);
  border-radius: 0.2rem;
}
.left-nav .lnb-wrap .lnb-depth .lnb-link.close:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 2rem;
  height: 0.4rem;
  background: #fff;
  transform: translateY(-50%) rotate(90deg);
  border-radius: 0.2rem;
}
.left-nav .lnb-wrap .lnb-depth ul {
  position: relative;
}
.left-nav .lnb-wrap .lnb-depth ul:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  background: #fff;
  opacity: 0.3;
}
.left-nav .lnb-wrap .lnb-depth ul:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0px;
  background: #fff;
  opacity: 0.3;
}
.left-nav .lnb-wrap .lnb-depth ul li a {
  display: block;
  position: relative;
  padding: 1.2rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  line-height: 1;
}
.left-nav .lnb-wrap .lnb-depth ul li a:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 2.4rem;
  width: 0.6rem;
  height: 1.2rem;
  transform: translateY(-50%);
  background: url(../images/common/arr_off.png) no-repeat;
  background-size: contain;
}
.left-nav .lnb-wrap .lnb-depth ul li.active {
  background: #fff;
  border-radius: 1.2rem;
}
.left-nav .lnb-wrap .lnb-depth ul li.active a {
  color: #085D70;
}
.left-nav .lnb-wrap .lnb-depth ul li.active a:after {
  background: url(../images/common/arr_on.png) no-repeat;
  background-size: contain;
}
.left-nav .lnb-wrap .lnb-depth.active .lnb-link {
  opacity: 1;
}
.lnb-close .left-nav { /*width: 9.6rem;*/
  width: 1rem;
  transition: width 0.5s ease 0s;
}
.lnb-close .left-nav .lnb-depth .lnb-link:after {
  display: none;
}
.lnb-close .left-nav .lnb-depth .lnb-link span {
  display: none;
}
.lnb-close .left-nav .lnb-depth ul {
  display: none;
}
.lnb-close .left-nav .lnb-sidebar-btn i:before {
  transform: translate(-50%, -50%) rotate(180deg);
}
.lnb-close .left-nav .lnb-sidebar-btn span {
  display: none;
}
.lnb-close .left-nav { /*left:-20rem;*/ }
.lnb-close .left-nav .lnb-sidebar-btn { /*left:0;*/ }

/* ==============================
* left-search
* ============================== */
.left-search {
  position: relative;
  overflow-y: auto;
  max-width: 30rem;
  flex: 1 1 auto;
  height: 100%;
  padding-bottom: 2.4rem;
  background: linear-gradient(135deg, #159B97 0%, #05697A 32.81%);
  border-top-right-radius: 0rem; /* box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.14);*/
  transition: width 0.3s ease;
}
.left-search .lnb-wrap {
  padding: 3rem 3rem;
  min-width: 22rem;
}
.left-search .lnb-wrap .lnb-depth .lnb-link {
  display: block;
  position: relative;
  padding: 1.2rem 0;
  font-size: 2.2rem;
  font-weight: 700;
  color: #fff;
  opacity: 0.5;
}

/* ==============================
* right-nav
* ============================== */
.right-nav {
  overflow-y: auto;
  flex: 0 0 auto;
  width: 20rem;
  height: 100%;
  background: #f9f9f9;
  transition: left 0.3s ease;
}

/* ==============================
* footer
* ============================== *//*# sourceMappingURL=tkg_common.css.map */