@charset "utf-8";

/* form */
.form-box {
    & + .form-box { margin-top:.8rem;}
    .tit { display:block; position:relative; font-size:1.8rem; margin-bottom:.8rem; color:#111; font-weight:bold;
        .impo { position:absolute; top:0; left:-1.2rem; font-size:0;
            &:after { content:'*'; font-size:1.8rem; color:#1955f3}
        }
        .small-text { display:block; font-size:1.5rem; color:#999;}
    }
    .inp-text { display:flex; width:100%; height:4.8rem; border:0; padding:0 1.6rem; margin:0; font-size:1.5rem; align-items: center;;}
    
    .flex > * + * { margin-left:1.2rem;}
    .text { margin-top:.8rem; text-align:left; font-size:1.5rem; color:#999999;}
    .new-btn { min-width:13rem; height:4.8rem;}

    &.flex { align-items: center;}
    &.flex .tit { flex:0 0 auto; width:13rem; margin-bottom:0;}
    &.flex > * + * { margin-left:1.2rem;}
}

.error-text { margin-top:.4rem; font-size:1.4rem; color:#ff0000;}
.success-text { margin-top:.4rem; font-size:1.4rem; color:#1955f3;}

.max-check { margin-bottom:3rem;
    .number { position:absolute; bottom:-.5rem; right:0; transform: translateY(100%);}
}

/* ========================================================= */
/* input */
/* ========================================================= */

.input-box { display:flex; position:relative; flex:1 1 auto; width:100%; justify-content: center; align-items: center; border:1px solid #eee; border-radius:.8rem;; transition: all .3s ease; background:#fff;
    input { flex:1 1 auto; width:100%; height:4.8rem; border-radius: .8rem;  border:0; padding:0 2rem; margin:0;color:#aaaaaa; font-size:1.6rem; box-sizing: border-box; background:none; outline:none;
        &:read-only { color:#111111; background:#f8f8f8;}
        &:disabled { color: rgba(34,34,34,0.3); background:#f8f8f8;}
    }
    .label { flex:0 0 auto; margin-left:2rem; font-size:1.5rem; line-height:1;}
    .label-none { display: none;}
    .util { flex:0 0 auto; margin-right:2rem; font-size:1.5rem; line-height:1;
        &:first-child { margin-right:0; margin-left:1rem;}
    }
    button { height:4.8rem; border-radius: 0;}
    .btn-close { flex:0 0 auto; width:3.5rem; height:3.5rem; margin:0; font-size:0; background:url('../images/common/btn_close.png') no-repeat center center / 2.5rem; transition: all .3s ease;}

    button { height:4.8rem; border-radius: 0;}
    .btn-search { flex:0 0 auto; width:4.5rem; height:3.5rem; margin:0; font-size:0; background:url('../images/common/icon-search.png') no-repeat center center / 2.0rem; transition: all .3s ease;}

    &.small {
        input { height:3rem; font-size:1.4rem;}
        .btn-close { width:3rem; height:3rem;}
    }
    &.focus { border-color:#111111;}

    .code { display:flex; width:5.8rem; height:100%; border-right:1px solid #e3e3e3; text-align:center; font-size:1.5rem; text-align:center; background:#f5f5f5; align-items: center; justify-content: center;}

    &.datepicker i { flex:0 0 auto; width:1.8rem; height:1.8rem; margin-right:1.2rem; cursor: pointer;}
    &.datepicker.disabled { background:#f8f8f8;}
    &.datepicker.disabled i { opacity:0.5;}

    &.right{
        input { text-align:right;}
    } 

    &.password {
        .btn-pwd-show { flex:0 0 auto; width:1.8rem; height:1.8rem; margin-right:1.6rem; font-size:0; background:url('../images/common/ico_pwd_off.png') no-repeat center center;}
        &.show .btn-pwd-show { background:url('../images/common/ico_pwd.png') no-repeat center center;}
    }

    &.file-box { border:0;
        input[type=text] { flex:1 1 auto; border:1px solid #e3e3e3; }
        input[type=file] { position:absolute; top:0; left:0; z-index:1; width:100%; height:100%; opacity:0;}
        .new-btn { flex:0 0 auto; margin-left:12px; border-radius: .8rem;}
    }



    &.flatpickr {
        .flatpickr-input:read-only { background:none;}
        i { flex:0 0 auto; width:1.8rem; height:1.8rem; margin-right:1.2rem; cursor: pointer;}
    }
}

.error .input-box { border-color:#ff0000;
    &:after { content:'!'; display:flex; flex:0 0 auto; width:1.6rem; height:1.6rem; margin-right:1.2rem; border-radius:50%; font-size:1rem; color:#fff; background:#ff0000; align-items: center; justify-content: center;}
    input { color:#ff0000;}
}

.success .input-box { border-color:#1955f3;
    input { color:#1955f3;}
}

/* ========================================================= */
/* select */
/* ========================================================= */

.select-box { display:flex; position:relative; flex:1 1 auto; width:100%; justify-content: center; align-items: center; border-radius: .8rem; border:1px solid #e3e3e3; transition: all .3s ease;
    select { flex:1 1 auto; width:100%; height:4.8rem; border:0; padding:0 1.6rem; margin:0; font-size:1.5rem; box-sizing: border-box; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_16_1448)'%3E%3Cpath d='M7 10L12 15L17 10' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_16_1448'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat 99% center; outline:none;
        &:disabled { color: rgba(34,34,34,0.3); background:#f8f8f8;}
    }
    .select { flex:1 1 auto; position:relative; width:100%; border:0; margin:0; font-size:1.6rem; box-sizing: border-box; outline:none;
        .select-tit{
            &:after { content:''; display:block; position:absolute; top:0; right:0rem; width:4.8rem; height:4.8rem; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_16_1448)'%3E%3Cpath d='M7 10L12 15L17 10' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_16_1448'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center center / 2.4rem; transition: all .3s ease;}
            &.on:after { transform: rotate(180deg);}
        }
        &:disabled { color: rgba(34,34,34,0.3); background:#f8f8f8;}

        > a { overflow:hidden;text-align: left; display:block; width:100%; height:4.8rem; padding:0 4rem 0 1.6rem; align-items: center;  text-overflow: ellipsis; white-space: nowrap; line-height:4.8rem; color:#000; font-size:1.6rem;}

        .select-view { visibility: hidden; position:absolute; overflow-y:auto; bottom:0; left:0; z-indeX:1003; width:100%; max-height:15rem; border: 1px solid #E5E5E5; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); padding:.8rem 0; transform: translateY(100%); background:#fff; opacity: 0; transition: all .3s ease;
            a { display:inline-flex; width:100%; min-height:2.8rem; padding:.8rem 1rem; font-size:1.54rem; color:#555; align-items: center; line-height:1.2;
                &:hover,
                &.on { color:#3981e3; background:#f9f9f9;}
            }

            &.active {opacity:1; visibility: visible;}
        }
    }

    .label { flex:0 0 auto; margin-left:2rem; font-size:1.5rem; line-height:1;}

    &.focus { border-color:#111;}

    &.small {
        .select {
            > a { height:3.8rem; font-size:1.5rem; line-height:3.8rem;}
        }
        .select-view {
            a { font-size:1.5rem;}
        }
    }
    .success & { border-color:#1955f3;
        .select {
            > a { color:#1955f3;}
        }
    }
    .error & { border-color:#ff0000;
        .select {
            > a { color:#ff0000;}
        }
    }

    &.disabled {
        .select > a {
            cursor: initial;
            color: rgba(34,34,34,.3);
            background:#f8f8f8;
        }
    }
}

@media screen and (max-width:767px) {
    .select-box {
        .select {
            .select-view { visibility: hidden; position:fixed; bottom:0; top:0; left:0; right:0; width:100%; max-height:100%; border: 1px solid #E5E5E5; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); z-index:200; padding:.8rem 0; background:rgba(0,0,0,0.5); transform: translateY(0);opacity: 0; transition: all .3s ease;
                .cont-box { overflow-y: auto; position:fixed; bottom:0; left:0; right:0; max-height:50%; padding:2rem; background:#fff; border-radius:1rem 1rem 0 0; transform: translateY(100%); transition: all .3s ease;}
                a { display:inline-flex; width:100%; height:auto; padding:1.5rem; font-size:1.6rem; color:#333; align-items: center;
                    &:hover,
                    &.on { background:#F5F4F7;}
                }
    
                &.active {opacity:1; visibility: visible;transform: translateY(0%);
                    .cont-box { transform: translateY(0%); transition: all .3s ease .3s;}
                }
            }
        }
    
        &.focus { border-color:#111;}
    
        &.small {
            select { height:3rem; padding:0 2rem 0 1rem; font-size:1.4rem; background:url('../images/common/ico_select.png') no-repeat 99% center / 1.6rem;}
        }
    }
}

/* ========================================================= */
/* textarea */
/* ========================================================= */

.textarea { display:block; position:relative; flex:1 1 auto; width:100%; justify-content: center; align-items: center; border:1px solid #ddd; border-radius: .6rem; transition: all .3s ease;
    textarea { flex:1 1 auto; width:100%; height:12rem; border:0; padding:1.6rem 1.6rem; margin:0; font-size:1.5rem; box-sizing: border-box; background:none; outline:none; resize: none;
        &:disabled { color: rgba(34,34,34,0.3); background:#f8f8f8;}
    }

    &.focus { border-color:#222;}

    .count { padding:0 2rem 2rem; text-align:right; font-size:1.4rem; color:#999;}

    &.auto {
        .hiddenText { visibility: hidden; opacity:0; font-size:1.5rem; padding:1.6rem 1.6rem; min-height:5.45rem;}
        textarea { position:absolute; top:0; left:0; right:0; bottom:0; height:auto; min-height:5.45rem;}
    }
}
@media screen and (max-width:767px) {
    
}

/* ========================================================= */
/* checkbox */
/* ========================================================= */

.checkbox { line-height:0;
    > * { vertical-align: middle;}
    input { position:absolute; top: 0; left: 0; width: 0; height: 0; opacity:0;
        &:checked + label i { border-color:var(--point-color); background:var(--point-color);
            &:after { border-color:transparent transparent #fff #fff; transform:translate(-50%, -50%) rotate(-45deg) scale(1);}
        }
        &:checked + label:hover i { border-color:rgba(5, 105, 122, 1)}

        &:disabled + label i { border-color:#ddd; background:#f8f8f8;}
        &:disabled:checked + label i { border-color:transparent; background:rgba(221, 221, 221, 1);}
    }
    label { position:relative; display:inline-block; min-height:2.4rem; margin-right:.2rem; padding-left:3.2rem; font-size:1.4rem; color:#000; cursor: pointer; line-height:1.5;
        i { display:block; position: absolute; top:0; left:0; width:2.0rem; height:2.0rem; border-radius:0.4rem; border:1px solid rgba(238, 238, 238, 1); background:#fff; transition: all .3s ease;
            &:after { content:''; position:absolute; top:50%; left:50%; width:.8rem; height:0.3rem; margin-top:-0.2rem; border:2px solid #fff; border-color:transparent transparent #cccccc #cccccc; transform:translate(-50%, -50%) rotate(0deg) scale(0); transition: all .3s ease;}
        }

        &:hover {
            i { border-color:rgba(170, 170, 170, 1);}
        }
    }
    
    // &.small label { min-height:0.2rem; padding-left:2.8rem; margin-right:1rem; font-size:1.4rem;}
    // &.small label i { top:0.2rem; width:2rem; height:2rem;
    //     &:after { width:0.8rem; height:0.3rem;}
    // }
    
    & + .checkbox { margin-top:.5rem;}
    
    &.noText label { padding-left:2.4rem; margin-right:0;}
    
    &.dark {
        input {
            &:checked + label i { border-color:var(--color-white); background:var(--color-white);
                &:after { border-color:transparent transparent #05697A #05697A; transform:translate(-50%, -50%) rotate(-45deg) scale(1);}
            }
            &:checked + label:hover i { border-color:rgba(238, 238, 238, 1)}
    
            &:disabled + label i { border-color:rgba(255, 255, 255, 1); background:transparent; opacity: .5;}
            &:disabled:checked + label i { border-color:transparent; background:rgba(221, 221, 221, 1);}
        }
        label { color: #fff; 
            i {border: .2rem solid rgba(255, 255, 255, .5); background: transparent;}
            &:hover {
                i { border-color:rgba(255, 255, 255, 1); opacity: .8;}
            }
        }
    }
}

/* ========================================================= */
/* radio */
/* ========================================================= */

.radio {
    input { position:absolute; opacity:0;
        &:checked + label i { border-color:transparent; background:transparent;
            &:after { width:.9rem; height:.9rem; background:#fff;}
        }
        &:checked + label:hover i { border-color:rgba(5, 105, 122, 1)}

        &:disabled + label i { border-color:#ccc; background:#f8f8f8;}
        &:disabled:checked + label i { border-color:transparent; background:rgba(34,34,34,0.3);}
    }
    label { display:inline-block; position:relative; padding-top:.1rem; padding-left:3.2rem; margin-right:2rem; font-size:1.6rem; color:#000; cursor: pointer; line-height:2.4rem;
        i { display:block; position: absolute; top:0; left:0; width:2.0rem; height:2.0rem; border-radius:50%; border:2px solid #cccccc; background:#fff; transition: all .3s ease;;
            &:after { content:''; position:absolute; top:50%; left:50%; width:0; height:0; border-radius:50%; background:#ccc; transition: all .3s ease; transform: translate(-50%,-50%);}
        }

        &:hover {
            i { border-color:rgba(170, 170, 170, 1);}
        }
    }

    &.dark {
        input {
            &:checked + label i { border-color:#fff; 
                &:after { }
            }
            &:checked + label:hover i { border-color:rgba(238, 238, 238, 1)}
    
            &:disabled + label i { border-color:rgba(255, 255, 255, 1); background:transparent; opacity: .5;}
            &:disabled:checked + label i { border-color:transparent; background:rgba(221, 221, 221, 1);}
        }
        label { color: #fff; 
            i {border: .2rem solid rgba(255, 255, 255, .5); background: transparent;}
            &:hover {
                i { border-color:rgba(255, 255, 255, 1); opacity: .8;}
            }
        }
    }
}

/* ========================================================= */
/* toggle */
/* ========================================================= */

.togglebox {
    input { position:absolute; opacity:0;}
    label { display:block; position:relative; width:4.2rem; height:2.4rem; font-size:0; border-radius: 1.2rem; background:rgba(17, 17, 17, 0.3); transition: all .3s ease; cursor: pointer;
        i { position:absolute; top:.2rem; left:.2rem; width:2rem; height:2rem; border-radius:50%; background:#fff; transition: all .3s ease;}
    }
    input:checked + label { background:var(--point-color);
        i { left:2rem;}
    }
}

.toggle-radio { display:flex;
    input { position:absolute; opacity:0;}
    label { flex:1 1 auto; width:100%; display:flex; position:relative; height:4.8rem; font-size:1.5rem; color:#666; align-items: center; justify-content: center; border:1px solid #ddd; background:#f8f8f8; cursor: pointer; transition: all .3s ease;}
    label + label { margin-left:-.1rem;}
    input:checked  + label { z-index:1; border:1px solid #222; color:#222; font-size:1.5rem; font-weight:bold; background:#fff;}
    &.type2 label { background:#fff;}
}


/* ========================================================= */
/* placeholder tip */
/* ========================================================= */

.placeholder-tip { position:absolute; top:0; right:0; max-width:50%; padding:1rem .5rem; border-radius: .5rem; color:#fff; background:#111; transform: translateY(calc(-100% - 1.5rem)); animation: placeholderTipM .6s ease both; text-align:center;}
.placeholder-tip:after {content: ''; position:absolute; bottom:-1.2rem; left:50%; display:block; width:0; height:0; border:.6rem solid #111; border-color:#111 transparent transparent transparent;}

@keyframes placeholderTipM {
    0% { opacity: 0; transform: translateY(calc(-110% - 15px));}
	100% { opacity: 1; transform: translateY(calc(-100% - 15px));}
}

/* ========================================================= */
/* flatpickr
/* ========================================================= */

.flatpickr-calendar.open { z-index:100 !important;}


