@charset "utf-8";

.tab-list { overflow:auto; display:flex;
    a { display:inline-flex; flex:1 0 auto; position:relative; height:5.3rem; border-bottom:.3rem solid #e6e6e6; font-size:1.5rem; color:#666666; text-align:center; transition:all .3s ease; line-height:1.06; justify-content: center; align-items: center; background:#fff; transition: all .3s ease;
        &:after { content:''; display:block; position:absolute; bottom:-0.3rem; left:50%; width:00%; height:.3rem; background:#111; opacity: 0; transition: all .3s ease;}

        &.on { color:#262626; font-weight:bold; transition: all .3s ease;
            &:after { left:0; width:100%; opacity: 1;}
        }
    }

    &.full a { max-width:initial}

    &.line-type { position:relative;
        a:after { display:none;}
        .tab-line { position:absolute; bottom:0; left:0; width:0%; height:.3rem; background:#4d4d4d; transition: all .3s ease;
            &.off { transition: none;}
        }
    }

    &.swiper-tab { overflow: hidden;
        a { max-width:11.4rem;}
        a + a { margin-left:0.25rem;}
        &:before { content:''; display:block; visibility: visible; position:absolute; top:0; left:0; z-index:2; width:2rem; height:100%; background:linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);; transition: all .3s ease; opacity: 1;}
        &:after { content:''; display:block; visibility: visible; position:absolute; top:0; right:0; z-index:2; width:2rem; height:100%; background:linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);; transition: all .3s ease; opacity: 1;}

        &.first {
            &:before { visibility: hidden; opacity: 0;}
        }
        &.last {
            &:after { visibility: hidden; opacity: 0;}
        }
    }

    &.type-button {
        a {border:1px solid #d1d4db;
            &:after { display:none;}
            + a { margin-left:-1px;}

            &.on { z-index:1; color:#1c69d3; border-color:#1c69d3;}
        }
    }
}

[data-tab-cont=swiper] {overflow:hidden;}

.tab-list-view { display:none;}

/*search_tab*/
.tab-search { overflow:hidden; display:flex;
    a { display:inline-flex; flex:1 0 auto; position:relative; height:5.3rem; border-bottom:.3rem solid #88C5C7;  font-size:1.8rem; font-weight: 600 ; color:#88C5C7; text-align:center; transition:all .3s ease; line-height:1.06; justify-content: center; align-items: center;  transition: all .3s ease;
        &:after { content:''; display:block; position:absolute; bottom:-0.3rem; left:50%; width:00%; height:.3rem; background:#fff; opacity: 0; transition: all .3s ease;}

        &.on { color:#ffffff;font-size:1.8rem; font-weight:600; transition: all .3s ease;
            &:after { left:0; width:100%; opacity: 1;}
        }
    }

    &.full a { max-width:initial}

    &.line-type { position:relative;
        a:after { display:none;}
        .tab-line { position:absolute; bottom:0; left:0; width:0%; height:.3rem; background:#4d4d4d; transition: all .3s ease;
            &.off { transition: none;}
        }
    }

    &.swiper-tab { overflow: hidden;
        a { max-width:11.4rem;}
        a + a { margin-left:0.25rem;}
        &:before { content:''; display:block; visibility: visible; position:absolute; top:0; left:0; z-index:2; width:2rem; height:100%; background:linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);; transition: all .3s ease; opacity: 1;}
        &:after { content:''; display:block; visibility: visible; position:absolute; top:0; right:0; z-index:2; width:2rem; height:100%; background:linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);; transition: all .3s ease; opacity: 1;}

        &.first {
            &:before { visibility: hidden; opacity: 0;}
        }
        &.last {
            &:after { visibility: hidden; opacity: 0;}
        }
    }

    &.type-button {
        a {border:1px solid #d1d4db;
            &:after { display:none;}
            + a { margin-left:-1px;}

            &.on { z-index:1; color:#1c69d3; border-color:#1c69d3;}
        }
    }
}


/* menuopen tab test*/
.tab-menu { overflow:hidden;position: absolute; width: 100%; bottom: 0;   display:inline-block; z-index: 99999999;height:4.8rem;  background-color: #fff; border-top: 1px solid #eee; 
    a { display:inline-flex; flex:1 0 auto; line-height: 2.8rem; padding:0 4rem 0 .2rem; overflow: hidden; text-overflow:ellipsis;word-break: break-all; white-space: nowrap; position:relative; height:4.8rem; max-width: 12.0rem;  border-bottom:.3rem solid #e6e6e6; font-size:1.5rem; color:#aaa; text-align:left; transition:all .3s ease; line-height:1.06; justify-content: left; align-items: center; transition: all .3s ease;
        &:after { content:''; display:block; position:absolute;  padding: 0 1rem; overflow: hidden; text-overflow:ellipsis;word-break: break-all; white-space: nowrap; bottom:-0.3rem; left:50%; width:00%; height:.3rem; background:#111; opacity: 0; transition: all .3s ease;}

        &.on { color:#262626; font-weight:bold;  padding:0 4rem 0 0; transition: all .3s ease;  overflow: hidden; text-overflow:ellipsis;word-break: break-all; white-space: nowrap;
            & + button.btn-delete{
                i{color:#262626;}
             }
            &:after { left:0; width:100%; opacity: 1;}
        }
        & + button.btn-delete { margin-right:1rem;  width: 2.4rem; height: 4.8rem; border-radius: 20rem; border:0px solid #eee;
            i { font-size: 1.6rem; font-weight: 600;color:#eee;line-height: 4.8rem;
                &:hover {color:var( --tab-close);} 
            }
            
        }
    }

    /* 좌우 버튼 */
    button{width: 6rem;height: 4.8rem;height: 4.8rem; color:#ddd; 
        i {font-weight: 400;}
       & + button.arrow_left{float: left;}
       & + button.arrow_right{float: right;}       
       & + button.tab_all_close{float: right; position: absolute; right: 4.8rem;
            &:hover {background-color: #f7f7f7;}
            }
        &:hover {color:var(--color-txt-333); font-weight: 600;}
    }

    &.full a { max-width:initial}

    &.line-type { position:relative;
        a:after { display:none;}
        .tab-line { position:absolute; bottom:0; left:0; width:0%; height:.3rem; background:#4d4d4d; transition: all .3s ease;
            &.off { transition: none;}
        }
    }

    &.swiper-tab { overflow: hidden;
        a { max-width:11.4rem;}
        a + a { margin-left:0.25rem;}
        &:before { content:''; display:block; visibility: visible; position:absolute; top:0; left:0; z-index:2; width:2rem; height:100%; background:linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);; transition: all .3s ease; opacity: 1;}
        &:after { content:''; display:block; visibility: visible; position:absolute; top:0; right:0; z-index:2; width:2rem; height:100%; background:linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);; transition: all .3s ease; opacity: 1;}

        &.first {
            &:before { visibility: hidden; opacity: 0;}
        }
        &.last {
            &:after { visibility: hidden; opacity: 0;}
        }
    }

    &.type-button {
        a {border:1px solid #d1d4db;
            &:after { display:none;}
            + a { margin-left:-1px;}

            &.on { z-index:1; color:#1c69d3; border-color:#1c69d3;}
        }
    }
}
[data-tab-cont=swiper] {overflow:hidden;}
.tab-list-view { display:none;}

/* 컨텐츠 페이지 내에서의 탭 */
.tab-grid { overflow:hidden; 
    a { display:inline-flex;border:1px solid #cbcbcb;  background-color: #f8f8f8; flex:1 0 auto; position:relative; width: 18.0rem; height:3.2rem; border-bottom:.1rem solid #e6e6e6; font-size:1.5rem; color:#666666; text-align:center; transition:all .3s ease; line-height:1.06; justify-content: center; align-items: center; transition: all .3s ease;
        &:after { content:''; display:block; position:absolute; top:-0.1rem; left:50%; width:0%; height:.3rem; background:#111; opacity: 0; transition: all .3s ease;}

        &.on { color:#262626; font-weight:bold; transition: all .1s ease;border:1px solid #333333; background-color: #ffffff; border-bottom:.1rem solid #f9f9f9;
            &:after { left:0; width:100%; opacity: 1;}
        }
    }

    &.full a { max-width:initial}

    &.line-type { position:relative;
        a:after { display:none;}
        .tab-line { position:absolute; bottom:0; left:0; width:0%; height:.3rem; background:#4d4d4d; transition: all .3s ease;
            &.off { transition: none;}
        }
    }

    &.swiper-tab { overflow: hidden;
        a { max-width:11.4rem;}
        a + a { margin-left:0.25rem;}
        &:before { content:''; display:block; visibility: visible; position:absolute; top:0; left:0; z-index:2; width:2rem; height:100%; background:linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);; transition: all .3s ease; opacity: 1;}
        &:after { content:''; display:block; visibility: visible; position:absolute; top:0; right:0; z-index:2; width:2rem; height:100%; background:linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);; transition: all .3s ease; opacity: 1;}

        &.first {
            &:before { visibility: hidden; opacity: 0;}
        }
        &.last {
            &:after { visibility: hidden; opacity: 0;}
        }
    }

    &.type-button {
        a {border:1px solid #d1d4db;
            &:after { display:none;}
            + a { margin-left:-1px;}

            &.on { z-index:1; color:#1c69d3; border-color:#1c69d3;}
        }
    }
}

